<section class="activation-section">
    <div class="content__activation">
        <div class="activation-icon">
            <dotlottie-player src="https://lottie.host/498c4798-7f1b-4466-881c-ff044adf9dc5/5l9afQDjOJ.json"
                background="transparent" speed="1" class="icon__activation" loop autoplay></dotlottie-player>
        </div>
        <p>Congratulations! You have been activated. Get ready to enjoy some delicious meals!</p>
        <a href="/login" class="btn activation-link">Login</a>
    </div>
</section>
