<section class="login-section">
    <div class="login-form-container">
        <img src="img/brand.png" alt="Profile Picture">
        <h1>Welcome back!</h1>
        <form>
            <input type="email" class="form-control" placeholder="Email or Username" required>
            <input type="password" class="form-control" placeholder="Password" required>
            <div class="text-right">
                <a class="forgot-password mb-4" href="/newPassword">Forgot your password?</a>
            </div>
            <button type="submit" class="btn btn-pill">Login</button>
        </form>
        <div class="divider mt-3">

            <p>or</p>

        </div>
        <div class="registration-buttons">
            <button class="btn btn-pill">Register as Customer or Delivery</button>
            <button class="btn btn-pill btn__commerce-register">Register as Commerce</button>
        </div>
    </div>
    <div class="design-container"></div>
</section>