<section class="activation-section">
    <div class="content__activation">
        <div class="activation-icon">
            <dotlottie-player src="https://lottie.host/f9c7a8c8-043f-4eb7-8ded-77387924ca94/SLeMsAS03l.json"
                background="transparent" speed="1" class="icon__activation" loop autoplay></dotlottie-player>
                
        </div>
        <p>Oops! The token does not exist or could not be verified. Please try again.</p>
        <a href="/" class="btn activation-link">Register Again</a>
    </div>
</section>