<section class="forgot-password-section">
    <img src="img/brand.png" alt="Brand IMG" class="img-fluid">
    <div class="forgot-password-container">
        <h1>Forgot Your Password?</h1>
        <p>Don't worry! Just fill in your email or username and we'll send you a link to reset your password.</p>
        <form method="post" action="/login/resetPassword">
            <input type="text" class="form-control" placeholder="Email" name="email" required>
            <button type="submit" class="btn btn-primary mt-3">Send Code</button>
        </form>
        <a href="/" class="d-block mt-3" style="text-decoration: none;">Back to Login</a>
    </div>
</section>