<footer class="footer-custom mt-auto">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>We are a team of passionate developers building great web applications.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact</h5>
                <p>Email: contact@gourmetdining.com</p>
                <p>Phone: +1 123 456 7890</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Developed by:</h5>
                <p>Juan Hernandez</p>
                <p>Alan Tubert</p>
                <p>Gabriela Gonzales</p>
            </div>
        </div>
        <button class="btn-up" onclick="scrollToTop()">&#8679;</button>
    </div>
</footer>