<section class="container error__section mb-5">
    <div class="img__error mt-1 mb-2">
        <img src="img/error.svg" alt="">
    </div>
    <h1 class="mb-2">Oops! Page Not Found</h1>
    <p>Looks like we hit a dead end! The page you’re looking for is on vacation.</p>
    <a href="/" class="btn-pill">Back to Home</a>
</section>