<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/commerce">Gourmet Dinning</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/commerce">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/commerce/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/commerce/categories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/commerce/products">Products</a>
                    </li>
                </ul>
                 <a href="/logout" class="btn btn-outline-primary btn-pill">Sign off</a>
            </div>
        </div>
    </nav>