<section class="container mt-5 mb-3">

  <section class="p-4 rounded shadow" style="background-color: white;">
    <div class="form__start_commerce">
      <h1>Create Product</h1>
      <form action="/commerce/products/create" method="POST" enctype="multipart/form-data" class="needs-validation"
        novalidate>
        <div class="form-group">
          <label for="name"  class="form-label">Name:</label>
          <input type="text" name="name" class="form-control" placeholder="Chicken" required />
          <div class="invalid-feedback">Please provide a name.</div>
        </div>
        <div class="form-group">
          <label for="description"  class="form-label">Description:</label>
          <textarea name="description" class="form-control"  placeholder="Description" required></textarea>
          <div class="invalid-feedback">Please provide a description.</div>
        </div>
        <div class="form-group">
          <label for="price"  class="form-label">Price:</label>
          <input type="number" name="price" step="0.01" class="form-control"  placeholder="500" required />
          <div class="invalid-feedback">Please provide a valid price.</div>
        </div>
        <div class="form-group">
          <label for="image"  class="form-label">Image:</label>
          
          <input type="file" class="form-control" id="profilePhoto" name="Image" accept="image/*" required>
        </div>
        <div class="form-group">
          <label for="categoryId" class="form-label">Category:</label>
          <select name="category" class="form-control" required>
            <option value="">Select a category</option>
            {{#if genreProduct}}
            {{#each genreProduct}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
          </select>
          <div class="invalid-feedback">Please select a category.</div>
        </div>
        <div class="btn__space">
          <button type="submit" class="btn btn__order" style="color: white; background-color:#E30613;">Create</button>
          <a href="/commerce" class="btn btn-secondary">Go Back</a>
        </div>
      </form>
    </div>
  </section>
</section>