    <h1>Delete product</h1>
    <p>Are you sure you want to delete "{{product.name}}"?</p>
    <form action="/commerce/products/delete/{{product.id}}" method="POST">
        <button type="submit">Delete</button>
        <a href="/commerce/products" class="btn">Cancel</a>
    </form>