<h1>Edit category</h1>
<form action="/categories/edit" method="POST">
    <input type="hidden" name="id" value="{{category.id}}">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" value="{{category.name}}" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control" required>{{category.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="/categories" class="btn btn-secondary">Go back</a>
</form>
