<section class="container mb-4" style="min-height: 100dvh;">
  <h2>My Profile</h2>
  <form action="/commerce/profile/update" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="logo" class="form-label">Logo</label>
      <input type="file" class="form-control" id="logo" name="Image" />
    </div>
    <div class="mb-3">
      <label for="openingTime" class="form-label">Opening hour</label>
      <input type="time" class="form-control" id="openingTime" name="openingTime" value="{{commerce.openingTime}}"
        required />
    </div>
    <div class="mb-3">
      <label for="closingTime" class="form-label">Closing hour</label>
      <input type="time" class="form-control" id="closingTime" name="closingTime" value="{{commerce.closingTime}}"
        required />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone number</label>
      <input type="text" class="form-control" id="phone" name="phone" value="{{commerce.phone}}" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="{{commerce.email}}" required />
    </div>
    <div class="btn__space">
      <button type="submit" class="btn btn__order" style="color: white; background-color:#E30613;">Save</button>
      <a href="/commerce" class="btn btn-secondary">Go Back</a>
    </div>

  </form>
</section>
<style>
  .container {
    max-width: 600px;
    margin-top: 4rem;
    padding:
      2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .mb-3 {
    margin-bottom: 1.5rem;
  }
</style>