<section class="container mt-5">
    <a href="#" class="card-link order__link">
        <div class="custom-card">
            <div class="card-header">
                <img src="https://via.placeholder.com/60" alt="Item Image">
                <div>
                    <h4>Pending</h4>
                    <p>2024-07-29</p>
                    <p>8:55pm</p>
                    
                </div>
            </div>
            <div class="card-body">
                <h3>Pizca de Sal</h3>
                <div class="price-info">
                    <p>$925</p>
                    <p>3 products</p>
                </div>
            </div>
        </div>
    </a>

    <hr>
    <a href="#" class="card-link order__link">
        <div class="custom-card">
            <div class="card-header">
                <img src="https://via.placeholder.com/60" alt="Item Image">
                <div>
                    <h4>Pending</h4>
                    <p>2024-07-29</p>
                    <p>8:55pm</p>
                    
                </div>
            </div>
            <div class="card-body">
                <h3>Pizca de Sal</h3>
                <div class="price-info">
                    <p>$925</p>
                    <p>3 products</p>
                </div>
            </div>
        </div>
    </a>

</section>