<section class="container mt-5">
    <!-- Order Header -->
    <a href="javascript:history.back()" class="btn btn-link text-decoration-none">
        <i class="fas fa-arrow-left"></i> Back
    </a>
    <div class="order-header">
        <img src="img/order.png" alt="Order Image">
        <div>
            <h1 class="h4">Pizca de Sal</h1>
            <h5>En proceso</h5>
            <p class="date">2024-07-29</p>
        </div>
    </div>
    <button class="btn complete__btn container mb-4 p-2">Complete the order
    </button>
    <!-- Order Details -->
    <div class="order-details mb-4">
        <h2 class="mb-3">Tu pedido</h2>
        <div class="order-item">
            <div class="content__item">
                <img src="https://via.placeholder.com/60" alt="Product Image">
                <h4>Galleta de Guayaba</h4>
            </div>
            <div class="price">
                <h5><strong>$550</strong></h5>
            </div>
        </div>
        <hr>
        <div class="order-item">
            <div class="content__item">
                <img src="https://via.placeholder.com/60" alt="Product Image">
                <h4>Galleta de Guayaba</h4>
            </div>
            <div class="price">
                <h5><strong>$550</strong></h5>
            </div>
        </div>
        <hr>
        <div class="order-item">
            <div class="content__item d-flex">
                <i class="fas fa-map-marker-alt"></i>
                <div style="margin-left: 15px;">
                    <p>Direction</p>
                    <h4>Calle Puerto Rico #35</h4>
                </div>
            </div>
        </div>

        <!-- Order Summary -->
        <div class="order-summary">
            <h4>Total</h4>
            <h4><strong>$980</strong></h4>
        </div>
    </div>
</section>