<section class="container-fluid mt-5">
    <div class="row product__space-car">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card__product-commerce">
                        <div class="card__product-commerce-body">
                            <h5 class="card-title">Pizza cLUB</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <div class="details__product-commerce">
                                <h5 class="mt-2">$420</h5>
                                <button class="btn-pill">Add</button>
                            </div>

                        </div>
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image 2">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card__product-commerce">
                        <div class="card__product-commerce-body">
                            <h5 class="card-title">Pizza cLUB</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <div class="details__product-commerce">
                                <h5 class="mt-2">$420</h5>
                                <button class="btn-pill">Add</button>
                            </div>

                        </div>
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image 2">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card__product-commerce">
                        <div class="card__product-commerce-body">
                            <h5 class="card-title">Pizza cLUB</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <div class="details__product-commerce">
                                <h5 class="mt-2">$420</h5>
                                <button class="btn-pill">Add</button>
                            </div>

                        </div>
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image 2">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card__product-commerce">
                        <div class="card__product-commerce-body">
                            <h5 class="card-title">Pizza cLUB</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <div class="details__product-commerce">
                                <h5 class="mt-2">$420</h5>
                                <button class="btn-pill">Add</button>
                            </div>

                        </div>
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image 2">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card__product-commerce">
                        <div class="card__product-commerce-body">
                            <h5 class="card-title">Pizza cLUB</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <div class="details__product-commerce">
                                <h5 class="mt-2">$420</h5>
                                <button class="btn-pill">Add</button>
                            </div>

                        </div>
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image 2">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card__product-commerce">
                        <div class="card__product-commerce-body">
                            <h5 class="card-title">Pizza cLUB</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <div class="details__product-commerce">
                                <h5 class="mt-2">$420</h5>
                                <button class="btn-pill">Add</button>
                            </div>

                        </div>
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card Image 2">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 fixed-sidebar">
            <div class="card__details-product">
                <div class="card-body">
                    <h5 class="card-title">My Order</h5>
                    <div class="content__details-product">
                        <img src="img/empty.svg" alt="Car Empty" class="mb-2 mt-1">
                        <p class="card-text">Your car is empty</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>