<section class="container mt-5 mb-5">
  <!-- Section Header -->
  <section class="addresses-header">
    <h1 class="h4 text-center flex-grow-1">My Addresses</h1>
    <a href="form/adress" class="btn">
      <i class="fas fa-plus"></i>
      Address
    </a>
  </section>

  <!-- Address Cards -->
  <div class="address-card">
    {{#if address}}
      {{#each address}}
        <div class="address-item">
          <div class="address-info">
            <i class="fas fa-map-marker-alt"></i>
            <div>
              <h4 class="h6">{{this.name}}</h4>
              <p>{{this.address}}</p>
            </div>
          </div>
          <div>
            <button class="btn btn-secondary">Edit</button>
            <form method="post" action="/customer/delete/address/{{this.id}}">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
        <hr />
      {{/each}}
    {{else}}
      <h1 class="h4 text-center">Empty Address</h1>
    {{/if}}

  </div>
</section>