<section class="container mt-5 mb-5">
    <section class="addresses-header">
        <h1 class="h4 flex-grow-1">My Addresses</h1>
        <a class="btn" href="customer/form/newAdress">
            <i class="fas fa-plus"></i>
            Address
        </a>
    </section>

    <div class="address-card">
        {{#if address}}
            {{#each address}}
            <div class="address-item">
                <div class="address-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>
                        <h4 class="h6">{{this.name}}</h4>
                        <p>{{this.address}}</p>
                    </div>
                </div>
                <div>
                    <a class="btn btn-secondary">Edit</a>
                    <form method="post" action="/customer/delete/address/{{this.id}}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <hr />
            {{/each}}
        {{else}}
            <h1 class="h4 text-center">Empty Address</h1>
        {{/if}}
    </div>
</section>
