<section class="container mt-5 mb-5">
    <div class="new-address">
        <h1 class="h4 text-center mb-4">New Address</h1>
        <div class="p-4 form__space">
            <form>
                <div class="form-group">
                    <label for="addressName" class="mb-2">Address Name</label>
                    <input type="text" class="form-control" id="addressName" placeholder="Home" required>
                </div>
                <div class="form-group">
                    <label for="addressDescription" class="mb-2">Address Description</label>
                    <input type="text" class="form-control" id="addressDescription"
                        placeholder="C/Cerro Mar .apt: 304" required>
                </div>
                <div class="form-buttons">
                    <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
                    <button type="submit" class="btn btn-create add">Create</button>
                </div>
            </form>
        </div>
    </div>
</section>